<?php

class DBFactory
{
    public static function getConnexionWithPDO(){
        $db = new PDO('mysql:host=HOST;dbname=NAME', 'USER', 'PASSWORD');
        $db->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);

        return $db;
    }
}